<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Spotizer c'est super{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
</head>
<body>
    {{ include('AppBundle::_menu.html.twig', {'page_title': block('title')}) }}

    <div class="container">
        {% for type, flashes in app.session.flashBag.all() %}
            {% for flash in flashes %}
                <div class="alert alert-{{ type }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}{% endblock %}
    </div>


    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="application/javascript" src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>
</body>
</html>