{% extends 'AppBundle::base.html.twig' %}
{# @var artists \AppBundle\Entity\Artist[] #}

{% block title %}{{ block('heading') }} - {{ parent() }}{% endblock %}

{% block content %}

    <h1>{% block heading %}Liste des artistes{% endblock %}</h1>

    <div class="row">
        <div class="clearfix">
            <div class="pull-right">
                <a href="{{ path('app_artist_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Ajouter</a>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <table class="table table-bordered table-stripped">
            {% for artist in artists %}
            <tr>
                <td>{{ artist.name }}</td>
                <td><a href="{{ path('app_artist_edit', {'id': artist.id}) }}" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Editer</a></td>
            </tr>
            {% endfor %}
        </table>

        {% if artists.haveToPaginate %}
        <div class="pagerfanta">
            {{ pagerfanta(artists, 'twitter_bootstrap3') }}
        </div>
        {% endif %}
    </div>
{% endblock %}